body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.cube-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Bal oldalon elrendezés */
    width: 100%; /* Teljes szélességű container */
    overflow-x: hidden; /* Túlcsorduló tartalom elrejtése vízszintesen */
}

.cube {
    width: 200px;
    height: 200px;
    margin: 20px;
    perspective: 500px;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.face:hover {
    transform: rotateY(360deg);
}

.text-cube {
    width: 200px;
    height: 200px;
    margin: 20px;
    perspective: 500px;
    align-self: flex-end; 
}